In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [2]:
data = pd.read_csv('data/generated_data.csv')

In [3]:
display(data.head(3))
print('Data Shape:', data.shape)

,seed,previous_pattern,pattern,base_price,Monday AM,Monday PM,Tuesday AM,Tuesday PM,Wednesday AM,Wednesday PM,Thursday AM,Thursday PM,Friday AM,Friday PM,Saturday AM,Saturday PM
0,72626,2,0,98,129,106,129,108,69,64,118,122,108,76,71,65
1,91535,1,2,108,96,93,88,84,79,75,71,65,60,55,50,47
2,59433,0,1,102,88,83,79,74,70,110,167,512,189,114,72,52

Data Shape: (9668, 16)

In [4]:
# check for and drop duplicates
subset_columns = ['seed', 'pattern']
contains_duplicates = data.duplicated(subset=subset_columns).any()
print('Contains duplicated values:', contains_duplicates)

# drop duplicates
if (contains_duplicates): 
    data.drop_duplicates(subset=subset_columns, inplace=True, ignore_index=True)
    print('Shape after dropping duplicates:', data.shape)

# update data
data.to_csv('data/generated_data.csv', index=False)

Contains duplicated values: False